<launch>
  <arg name="ip" default='""'/>
  <node pkg="aditof_roscpp" type="aditof_rviz_pcl" name="pclLaserRviz" args="$(arg ip)" output="screen"/>
  <node pkg="tf" type="static_transform_publisher" name="transform" args="0 0 0 0 -1.57 1.57 aditof_camera_info CameraDepth_frame 0"/>
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find aditof_roscpp)/rviz/pointcloud.rviz"/>
</launch>