<launch>
  <arg name="ip" default='""'/>
  <node pkg="aditof_roscpp" type="aditof_rviz_pcl" name="pclRviz" args="$(arg ip)" output="screen"/>
  <node pkg="tf" type="static_transform_publisher" name="transform" args="0 0 0 0 0 0 base_link aditof_camera_info 0"/>
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find aditof_roscpp)/rviz/pointcloud.rviz"/>
</launch>